# Token de Mapbox (necesario en BUILD TIME para Next.js)
NEXT_PUBLIC_MAPBOX_TOKEN=

# Traccar GPS Backend
TRACCAR_URL=http://2.24.83.115:8082
TRACCAR_USER=traccar
TRACCAR_PASSWORD=

# Google Gemini AI
GEMINI_API_KEY=
